<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=960, initial-scale=0.33">
    <title>关于鑫嘉源</title>
    <meta name="keywords" content="联系方式,发光字,亮化工程,楼体亮化,武汉发光字,武汉亮化工程,武汉楼体亮化,大型发光字,楼顶发光字,标识标牌,立牌,LED发光字,彩虹字,房地产宣传大字,房地产围墙,广告围墙,外露式发光字" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="description"  content="武汉鑫嘉源(027-84698920)是华中地区最专业的地产配套广告工程服务商，我们提供从设计、制作、安装到售后等各类专业技能的一站式服务，专业从事发光字、楼宇亮化、楼盘宣传彩虹字、标志标牌、楼盘围挡等各类地产配套广告工程的设计制作与安装。" />
    <script src="js/respond.src.js"></script>
    <link href="style/reset_css.css" rel="stylesheet" />
    <link href="style/all.css"  rel="stylesheet" />
    <script src="js/jquery.js"></script>
    <script src="js/load.js" defer></script>
    <!--[if IE]>
    <script src="js/html5.js"></script>
    <![endif]-->
</head>
<body>

        <% include header %>
        <!-- nav结束 -->

        <!-- weizi结束 -->

        <div id="AboutUs">
            <div class="content logoback">
            <!-- 文章内容开始 -->
                    <h3>我们的业务</h3>
                    <h4>我们是华中地区最专业的地产配套广告工程服务商<br>
                        我们提供从设计、制作、安装到售后等各类专业技能的一站式服务</h4>
                    <p>武汉鑫嘉源工程有限公司成立于2004年，在发光字、楼宇亮化、楼盘宣传彩虹字、标志标牌、楼盘围挡等各类地产配套广告工程领域上拥有10年以上行业经验,服务于众多五百强及本土企业。</p>
                    <p>鑫嘉源拥有一批对广告工程事业充满热忱和执著、对工作一丝不苟的设计与施工队伍，我们有着完善的管理流程，我们在广东有长期稳定合作的供应商，有多年承担政府及各界大型地产配套广告工程设计安装的经验，我们能在第一时间提供各种售前及售后
                    问题的解决方案。</p>
                    <p>在激烈的市场竞争中，我们将更加专心致志地坚持企业原则，以市场为导向，不断地探索新的发展模式，努力为广大客户提供更加优质的服务，为地产广告工程事业的建设和发展做出我们的贡献。</p>
                    <img src="images/staff.png" style="margin-top:50px;border:none;" title="鑫嘉源的员工" alt="鑫嘉源的员工"/>
            <!-- 文章内容结束 -->
            </div>



        </div>
        <!-- ProductContent结束 -->

        <div id="contact" style="margin-top:30px;">

            <img src="<%=path %>images/icon_tel.png" alt="图片描述" class="icon" />
            <p>联系鑫嘉源：+86 027 84698920   +18971195470</p>
            <p>公司地址：武汉江岸区汉黄路20号</p>

        </div>
        <!-- contact结束 -->
        <footer id="copyright">
            <p>武汉鑫嘉源钢结构工程有限公司 版权所有 2007-2016 鄂ICP备05201314号</p>

        </footer>
        <!-- copyright结束 -->

</body>
</html>
