<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=960, initial-scale=0.33">
    <title>关于鑫嘉源</title>
    <script src="js/respond.src.js"></script>
    <link href="style/reset_css.css" rel="stylesheet" />
    <link href="style/all.css"  rel="stylesheet" />
    <script src="js/jquery.js"></script>
    <script src="js/load.js" defer></script>
    <!--[if IE]>
    <script src="js/html5.js"></script>
    <![endif]-->
</head>
<body>

        <% include header %>
        <!-- nav结束 -->

        <!-- weizi结束 -->

        <div id="AboutUs">
            <div class="content">
            <!-- 文章内容开始 -->
                    <h3>我们的客户</h3>
                    <img src="images/customer-logos.png" title="鑫嘉源的客户" alt="鑫嘉源的客户" style="margin-top:50px;border:none;"/>

            <!-- 文章内容结束 -->
            </div>



        </div>
        <!-- ProductContent结束 -->

        <div id="contact" style="margin-top:30px;">

            <img src="<%=path %>images/icon_tel.png" alt="图片描述" class="icon" />
            <p>联系鑫嘉源：+86 027 84698920   +18971195470</p>
            <p>公司地址：武汉江岸区汉黄路20号</p>

        </div>
        <!-- contact结束 -->
        <footer id="copyright">
            <p>武汉鑫嘉源钢结构工程有限公司 版权所有 2007-2016 鄂ICP备05201314号</p>

        </footer>
        <!-- copyright结束 -->

</body>
</html>
