<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=960, initial-scale=0.33">
    <title>关于鑫嘉源</title>
    <script src="js/respond.src.js"></script>
    <link href="style/reset_css.css" rel="stylesheet" />
    <link href="style/all.css"  rel="stylesheet" />
    <script src="js/jquery.js"></script>
    <script src="js/load.js" defer></script>
    <!--[if IE]>
    <script src="js/html5.js"></script>
    <![endif]-->
</head>
<body>

        <% include header %>
        <!-- nav结束 -->

        <!-- weizi结束 -->

        <div id="AboutUs">
            <div class="content logoback">
            <!-- 文章内容开始 -->
                    <h3>我们的愿景</h3>
                    <h4>我们希望成为能提供可靠、精准、全面服务的综合广告工程供应商<br>为客户提供有竞争力的方案和服务、提升价值、共同创造美好未来</h4>
                    <p>这一直以来是公司的愿景和策略，我们一直遵循“创意为魂，品质为根”的现代企
                    业要求，坚持“客户至上，锐意进取”的服务原则，力求全方位为各类企业品牌的建设
                    给予支持。</p>
                    <p>我们关心客户真实的需求，在如今激烈的市场竞争中，我们能提供最具性价比和竞
                    争力的产品与服务。为此我们建设了自有厂房，配置各类专业设备、可以制作加工各种
                    定制产品、同时我们在广东拥有长期合作的供应商厂家，能直接提供各类高质量的亮化
                    产品。</p>
                    <img src="images/factory.png" title="鑫嘉源厂房" alt="鑫嘉源厂房" style="margin-top:50px;border:none;"/>
            <!-- 文章内容结束 -->
            </div>



        </div>
        <!-- ProductContent结束 -->

        <div id="contact" style="margin-top:30px;">

            <img src="<%=path %>images/icon_tel.png" alt="图片描述" class="icon" />
            <p>联系鑫嘉源：+86 027 84698920   +18971195470</p>
            <p>公司地址：武汉江岸区汉黄路20号</p>

        </div>
        <!-- contact结束 -->
        <footer id="copyright">
            <p>武汉鑫嘉源钢结构工程有限公司 版权所有 2007-2016 鄂ICP备05201314号</p>

        </footer>
        <!-- copyright结束 -->

</body>
</html>
