<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=960, initial-scale=0.33">
	<title>首页</title>
    <script src="js/respond.src.js"></script>
	<link href="style/reset_css.css" rel="stylesheet" />
	<link href="style/all.css"  rel="stylesheet" />
    <script src="js/jquery.js"></script>
    <script src="js/load.js" defer></script>
	<!--[if IE]>
	<script src="js/html5.js"></script>
	<![endif]-->
</head>
<body>
    
        <header id="header">
            <div class="loading"></div>
            <div class="center">
    
                <div id="logo">
                    <a href="首页.html"><img src="images/logo.png" alt="图片描述" /></a>
                </div>
                <!-- logo结束 -->
    
                <nav id="menu">
                <ul>
                    <li><a href="首页.html">鑫嘉源案例</a></li>
                    <li class="change"><a href="亮化工程.html">关于鑫嘉源</a></li>
                    <li><a href="亮化工程.html">鑫嘉源资讯</a></li>
                    <li><a href="亮化工程.html">联系我们</a></li>
                </ul>
                <span class="btn_redbg"></span>
                </nav>
                <!-- menu结束 -->
    
    
                <span class="clear"></span>
                <!-- 清除浮动 -->
    
            </div>
    
        </header>
        <!-- header结束 -->
        <nav id="nav">
            <div class="center">
    
                <ul>
                    <li><a href="首页.html">亮化工程</a></li>
                    <li class="change"><a href="亮化工程.html">楼宇发光字</a></li>
                    <li><a href="#">楼宇彩虹字</a></li>
                    <li><a href="#">标识标牌</a></li>
                    <li><a href="#">房地产围挡</a></li>
                </ul>
                <span class="clear"></span>
                <span class="btn_redbg"></span>
                
            </div>
    
        </nav>
        <!-- nav结束 -->
        <div id="weizi">
            当前位置：<a href="#">首页</a> &gt;<a href="#">亮化工程</a> &gt; 武汉陌陌屋
        </div>
        <!-- weizi结束 -->
    
        <div id="ProductContent">
            <div class="content">
            <!-- 文章内容开始 -->
                    <p>武汉陌陌屋项目由武汉三元房地产开发有限公司开发,项目位踞武汉市后湖新城核心地带，建筑面积206213㎡，是定位于青年消
                    费者艺术居住区，商铺街面展开约为300米。武汉陌陌屋项目由武汉三元房地产开发有限公司开发,项目位踞武汉市后湖新城核心地带，建筑面积206213㎡，是定位于青年消
                    费者艺术居住区，商铺街面展开约为300米。武汉陌陌屋项目由武汉三元房地产开发有限公司开发,项目位踞武汉市后湖新城核心地带，建筑面积206213㎡，是定位于青年消
                    费者艺术居住区，商铺街面展开约为300米。武汉陌陌屋项目由武汉三元房地产开发有限公司开发,项目位踞武汉市后湖新城核心地带，建筑面积206213㎡，是定位于青年消
                    费者艺术居住区，商铺街面展开约为300米。</p>
                    <p>武汉鑫嘉源承建了后湖陌陌屋商铺楼体亮化工程，商铺建筑很有特色，为欧式古典风格，在楼体亮化照明设计施工之前，我们对
                    所照楼体和照明的角度进行了充分的观察和分析，力求亮化效果与建筑风格一致，我们以绿色照明为基础，坚持楼体亮化照明适宜适
                    度原则，并且在照明设计施工时，增加了一些艺术元素，让所照建筑物看起来更具有艺术美感和现代气息。武汉鑫嘉源承建了后湖陌陌屋商铺楼体亮化工程，商铺建筑很有特色，为欧式古典风格，在楼体亮化照明设计施工之前，我们对
                    所照楼体和照明的角度进行了充分的观察和分析，力求亮化效果与建筑风格一致，我们以绿色照明为基础，坚持楼体亮化照明适宜适
                    度原则，并且在照明设计施工时，增加了一些艺术元素，让所照建筑物看起来更具有艺术美感和现代气息。</p>
                    <br>
    
                    <img src="temp_img/43361.jpg" alt="图片描述" />
                    <img src="temp_img/43362.jpg" alt="图片描述" />
                    <img src="temp_img/43363.jpg" alt="图片描述" />
                    <img src="temp_img/43364.jpg" alt="图片描述" />
                    <img src="temp_img/43365.jpg" alt="图片描述" />
            <!-- 文章内容结束 -->
            </div>
            
            
            <div class="pages">
                        <em>1/2页</em>
                        <a href="#">首页</a>
                        <a href="#">下一页</a>
                        <a href="#">尾页</a>
                        跳转 
                         <select class="select" name="select">
                            <option value="">1</option>
                            <option value="">2</option>
                            <option value="">3</option>
                        </select>
                        页  
            </div>
        </div>
        <!-- ProductContent结束 -->
    
        <div id="contact">
            
            <img src="images/icon_tel.png" alt="图片描述" class="icon" />
            <p>联系鑫嘉源：+86 027 84698920   +18971195470</p>
            <p>公司地址：武汉江岸区汉黄路20号</p>
    
        </div>
        <!-- contact结束 -->
        <footer id="copyright">
            <p>武汉鑫嘉源钢结构工程有限公司 版权所有 2007-2016 鄂ICP备05201314号</p>
    
        </footer>
        <!-- copyright结束 -->
        
</body>
</html>
